<h3>Edit book</h3>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="bookTitle" class="col-sm-1 control-label">Title</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="booktitle" placeholder="Book Title"
                   ng-model="bookEditor.currentBook.title">
        </div>
    </div>

    <div class="form-group">
        <label for="bookAuthor" class="col-sm-1 control-label">Author</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="bookauthor" placeholder="Book Author"
                   ng-model="bookEditor.currentBook.author">
        </div>
    </div>

    <div class="form-group">
        <label for="bookPublished" class="col-sm-1 control-label">Year Published</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="bookpublished"
                   placeholder="Year published" ng-model="bookEditor.currentBook.year_published">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-5">
            <button class="btn btn-default" ng-click="bookEditor.saveBook()">Save</button>
            <button class="btn btn-default" ng-click="bookEditor.setAsFavourite()">Set as favourite</button>
        </div>
    </div>



</form>
<a href="#/">Back to list</a>